.DS_Store
__MACOSX
*~
target
build
bin
dist
classes
.settings
*.project
!*/shared/*/.project
*.classpath
*.class
bundle
.ivy
.sass-cache
.sass_cache_*.css
_sass_cache_*.css
*/.ivy/cache/*
*/themes/*/docroot/*
!*/themes/*/docroot/_diffs
!*/themes/*/docroot/WEB-INF
*/themes/*/docroot/WEB-INF/classes
!*/themes/*/docroot/META-INF
*/themes/*/docroot/_diffs/css/.sass-cache/*
build.*.properties
!build.jenkins.properties
!build.root.properties
liferay-plugins-sdk-6.1.1/ivy.xml.MD5
liferay-plugins-sdk-6.2/portlets/google-login-portlet/docroot/WEB-INF/service/
liferay-plugins-sdk-6.2/portlets/google-login-portlet/docroot/WEB-INF/lib/google-login-portlet-service.jar
liferay-plugins-sdk-6.2/portlets/google-login-portlet/docroot/WEB-INF/sql/
liferay-plugins-sdk-6.2/portlets/google-login-portlet/docroot/WEB-INF/src/service.properties
liferay-plugins-sdk-6.1.1/portlets/google-login-portlet/docroot/WEB-INF/service/
liferay-plugins-sdk-6.1.1/portlets/google-login-portlet/docroot/WEB-INF/sql/
liferay-plugins-sdk-6.1.1/portlets/google-login-portlet/docroot/WEB-INF/src/service.properties
liferay-plugins-sdk-6.1.1/portlets/google-login-portlet/docroot/WEB-INF/lib/google-login-portlet-service.jar
